@model AgriConnectPlatform.Models.Login

@{
    ViewData["Title"] = "Login";
}

<h1>Welcome to Agri Connect</h1>

<h4>Enter your login details below</h4>
<hr />

<form method="post" action="/Login/VerifyLogin" class="login-form">
    <div>
        <label for="txtEmail">Email:</label>
        <input type="email" name="txtEmail" required />
    </div>
    <div>
        <label for="txtPassword">Password:</label>
        <input type="password" name="txtPassword" required />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    @if (ViewBag.errorMsg != null)
    {
        <div class="error-message">@ViewBag.errorMsg</div>
    }
</form>
